[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
django-rest-framework = "*"
autopep8 = "*"
pylint = "*"
django-rest-knox = "*"
django-crispy-forms = "*"
pillow = "*"
django-import-export = "*"
psycopg2-binary = "*"
django-rest-auth = "*"

[requires]
python_version = "3.7"
